@using Microsoft.AspNetCore.Identity
@using user_panel.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- EKLEME: Scan QR Butonu -->
        <li class="nav-item">
            <button type="button" class="nav-link btn btn-link" data-bs-toggle="modal" data-bs-target="#qrScannerModal">Scan QR</button>
        </li>
        <!-- Mevcut Linkleriniz -->
        <li class="nav-item">
            <a class="nav-link" asp-controller="Booking" asp-action="MyBookings">My Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Booking" asp-action="Index">Book a Cabin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="UserPanel" title="Manage">My Panel</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>